

<h2 class="alert alert-warning text-center">TD Form</h2>
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <form #SignUpForm="ngForm" (ngSubmit)="OnSignUp()">


                        <div class="form-group">
                            <label for="username">username <sup class="text-danger">*</sup></label>
                            <input 
                            ngModel
                            name="username"
                            #username="ngModel"
                            required
                            pattern="[a-zA-Z]*"
                            minlength="6"
                            maxlength="10"
                            type="text" class="form-control">

                           <strong class="text-danger" *ngIf="username.touched && username.hasError('required')">
                            username is required field!!!
                           </strong> 

                            <strong class="text-danger" *ngIf="username.dirty && username.hasError('pattern')">
                               Number and Speaial Char are not allowed!!!
                           </strong> 


                            <strong class="text-danger" *ngIf="username.dirty && username.hasError('minlength')">
                               required length should be  {{username.errors?.['minlength'].requiredLength}}  and the actual length is {{username.errors?.['minlength'].actualLength}}!!!
                           </strong> 

                            <strong class="text-danger" *ngIf="username.dirty && username.hasError('maxlength')">
                               minimum length should be 10 !!!
                           </strong> 


          
                        </div>


                         <div class="form-group">
                            <label for="email">Email <sup class="text-danger">*</sup></label>
                            <input 
                            ngModel
                            name="email"
                            #email="ngModel"
                            required
                            pattern='^[a-zA-Z0-9.-]+@[a-zA-Z0-9-.]+\.[a-zA-Z]{2,100}$'
                            type="text" class="form-control">

                            <strong class="text-danger" *ngIf="email.touched && email.hasError('required')">
                               Email is required field !!!
                           </strong> 

                            <strong class="text-danger" *ngIf="email.dirty && email.hasError('pattern')">
                               Please Enter Valid Email Like (abc@example.com) !!!
                           </strong> 
                            
                            
                        </div>


                        <div class="form-group">
                            <label for="secretquestions">secretequestions <sup class="text-danger">*</sup></label>
                            <select type="text" 
                            class="form-control"
                            #secretquestions="ngModel"
                            required
                            ngModel
                            name="secretquestions">
                        <option value="fevBook">Fev Book</option>
                         <option value="fevPet">Fev Pet</option>
                    </select>

                    <strong  class="text-danger" *ngIf="secretquestions.touched &&secretquestions.hasError('required')">
                        secret questions is required field!!!
                    </strong>
                        </div>

                        <div class="form-group">
                            <label for="answer">answer</label>
                            <textarea 
                            rows="2"
                            ngModel
                            #answer="ngModel"
                            required
                            name="answer" id="answer" class="form-control">

                            </textarea>
                             <strong  class="text-danger" *ngIf="answer.touched &&answer.hasError('required')">
                                   answer is required field!!!
                             </strong>
                        </div>

                        <div class="form-group">
                            <label for="isSubscribe">
                                <input 
                                ngModel
                                name="isSubscribe"
                                type="checkbox">
                                Subscribe for Daily Updates
                            </label>
                        </div>

                        <div class="form-group">
                            <label [for]="moc.ContactMode" *ngFor="let moc of MocArr">
                                <input type="radio" 
                                ngModel
                                name="ModeOfContact"
                                [value]="moc.ContactMode"
                                 
                                >
                                {{moc.ContactMode}}
                            </label>
                        </div>
                       
                         <button  [disabled]="SignUpForm.invalid" mat-raised-button color="primary" class="mr-2">Sign Up</button>
                         
                         
                         <button  type="button"
                         (click)="OnEdit()"
                         mat-raised-button color="primary">Edit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>